* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #ffffff;        /* white */
    --snd-bg-color: #2563EB;    /* blue-600 */
    --text-color: #ffffff;      /* white text on dark */
    --main-color: #0B1220;      /* deep navy (cleaner than pure black) */
}


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--main-color);
    color: var(--text-color);
}


section {
    min-height: 80vh;
    padding: 10rem 9% 2rem;
}

/* Header & NavBar Section */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;

    /*font style has to set in final */
    font-style: oblique;
}

.logo {
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: default;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.navbar a {
    font-size: 1.9rem;
    color: var(--bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.navbar a:hover,
.navbar a.active {
    color:  #9f60c7;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

/* Home Section */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    /* color: var(--text-color); */
    color: #2563EB;
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* Adjust spacing between icons */
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: transparent;
    border: .4rem solid var(--bg-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--bg-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease-in-out;
}

.social-media a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: #2563EB;
    box-shadow: 0 0 25px var(--main-color); 
}

.btn {
    display: inline-block;
    padding: 2rem 2rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 2rem;
    background-color: #2563EB;
    color: #1e1e2e;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s all;
}

.btn:hover {
    box-shadow: 0 0 1.6rem var(--main-color);
}

/* About Section */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--main-color);
}

.about-img img {
    width: 25vw;
    width: 25vw;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--snd-bg-color),
                0 0 35px var(--snd-bg-color),
                0 0 55px var(--snd-bg-color);
}

.heading {
    text-align: center;
    font-size: 5rem;
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 2rem;
    margin: 2rem 0 3rem;
    line-height: 1.6;
}

.img
{
    width: 2vw;
}
.heading
{
    margin-bottom: 5rem;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 100px;
    max-width: 1065px;
    width: 100%;
    margin: auto;
}


.skill-card {
    background: #131B2B;
    padding: 7px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.skill-card h3 {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
    color: white;
    
}
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
    padding-bottom: 10%;
}
.skill {
    background: transparent;
    background: #1E2A47;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    transition: 0.3s;
}
.skill:hover {
    background: #39507b;
}
.skill i {
    color: #FFD700;
}

.content {
    display: none;
    color: #b7aaaa;
}
.short-content {
    display: inline;
    color: #b7aaaa;
}
.read-more {
    color: blue;
    cursor: pointer;
    font-weight: bold;
    font-size: medium;
}
/* ****************Certificate Section******************* */

.testimonials{
    background: var(--main-color);
}
.testimonials-box{
    border-color: #39507b;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.testimonials .heading{
    margin-bottom: 5rem;
}
.testimonials-box img{
    width: 100%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px 2px;
}
.project_name
{
    font-size: 20px;
    font-weight: 600;
    color: rgb(177, 178, 179);
    display: -webkit-box;
    max-width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
}
.inner_lang
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 4px;
}
.lang_names
{
    font-size: 15px;
    font-weight: 400;
    color: rgb(133, 76, 230);
    background-color: rgba(133, 76, 230, 0.082);
    padding: 2px 8px;
    border-radius: 10px;
}
.testimonial-item{
    width: 330px;
    height: 400px;
    background-color: rgb(23, 23, 33);
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 12px 4px;
    overflow: hidden;
    padding: 26px 20px;
    display: flex
;
    flex-direction: column;
    gap: 14px;
    transition: 0.5sease-in-out;
}
.testimonial-item:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}
.testimonial-item h2{
    font-size: 3rem;
}
.testimonial-item p{
    font-size: 1.8rem;
}
#star{
    color: gold;
    font-size: 2rem;
}


/*  new certificate section*/

.certificate{
    background: var(--main-color);
}
.certificate .heading{
    margin-bottom: 5rem;
}
.certificate .heading span{
    color: var(--snd-bg-color);
}

.certificate-item:hover img {
    transform: scale(1.05); /* Slight zoom on hover */
}
.certificate-box {
    border: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* Responsive Grid */
    gap: 50px;
    justify-content: center;
    padding: 5px;
    
}

.certificate-item img {
    width: 90%;
    margin-bottom: 21px;
    padding: 6px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}
/***** Experience Section*/

.kLQxBu {
    height: 50px;
    border-radius: 10px;
    margin-top: 4px;
}

.cBpVdX {
    width: 100%;
    display: flex;
    max-width: 100%;
    gap: 12px;
}

.kJDDgb {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.iXisnl {
    font-size: 28px;
    color: rgba(242, 243, 244, 0.6);
}

.cpwHHu {
    font-size: 14px;
    color: rgba(177, 178, 179, 0.6);
}

.kyGbzA {
    font-size: 12px;
    color: rgba(177, 178, 179, 0.5);
}

.ggylXt {
    width: 100%;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(242, 243, 244, 0.6);
    margin-bottom: 10px;
}

.bEdMEg {
    display: -webkit-box;
    max-width: 100%;
}

.hKmMCe {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-top: -10px;
}

.jUXGcy {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.kGyEVt {
    font-size: 15px;
    font-weight: 400;
    color: rgba(242, 243, 244, 0.6);
}


.fXcOFK {
    max-width: 800px;
    width: 100%;
    border-radius: 16px;
    margin: 110px auto;
    height: auto;
    background-color: rgb(23, 23, 33);
    color: rgb(242, 243, 244);
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.css-q7mezt {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    fill: currentcolor;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ubcpl {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px 0px;
}

.XYPYR {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: rgb(242, 243, 244);
    margin: 10px 0px;
}

.jSKrOR {
    font-size: 16px;
    margin: 2px 6px;
    font-weight: 400;
    color: rgb(177, 178, 179);
}

.fgyDST {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0px;
}

.bsUtMx {
    font-size: 14px;
    font-weight: 400;
    color: rgb(133, 76, 230);
    margin: 4px;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: rgba(133, 76, 230, 0.125);
}

.xgfQb {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    color: rgb(242, 243, 244);
    margin: 8px 6px;
}

.hVezlV {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 12px 0px;
    gap: 12px;
}

.ftbywb {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: rgb(28, 30, 39);
    color: rgb(177, 178, 179);
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.loCxib {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(242, 243, 244);
    padding: 12px 16px;
    border-radius: 8px;
    background-color: rgb(133, 76, 230);
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}


/***** Education Section*/
.qualification section{
    background-color: var(--main-color);
}
.qualification_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    min-height: 30px;
}


.timeline {
    width: 100%;
    position: relative;
    padding-left: 20px;
}

.timeline_item {
    position: relative;
    margin-bottom: 42px;
    padding-left: 45px;
    font-size: large;
}

.timeline_item::before {
    content: '';
    width: 2px;
    height: 100%;
    background-color:var(--snd-bg-color);
    position: absolute;
    left: 10px;
    top: 0;
}

.circle_dot {
    position: absolute;
    left: 5px;
    top: 0;
    width: 12px;
    height: 12px;
    background-color:var(--snd-bg-color);
    border: 2px solid var(--snd-bg-color);
    border-radius: 50%;
}

.timeline_title {

    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color:var(--text-color);
}

.timeline_text {
    font-size: 20px;
    color:var(--text-color);
    padding-bottom: 6px;
}

.timeline_data {
    font-size: 18px;
    color: var(--text-color);
}

/* ****************Contact Section******************* */

.contact {
    background: var(--main-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}

/* ****************Footer Section******************* */

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--snd-bg-color);
}
.footer .social{
    
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    background-color: var(--main-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background: transparent;
    border: .4rem solid var(--bg-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--bg-color);
    margin: 0rem 1.5rem 4rem 0;
    transition: .3s ease-in-out;
}


.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright{
    margin-top: 30px;
    font-weight:bold ;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}
.footer .social .mail{
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* BreakPoint */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
    .wrapper {
        grid-template-columns: repeat(1, 1fr); /* 1 column for better fit */
        gap: 2rem;
    }
}

@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .services{
        padding: 7rem
    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer{
        padding: 2rem 3%;
    }
}
@media (max-width:786px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }

    .navbar a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }

    .navbar.active {
        right: 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content{
        order: 2;
        margin-left: 1rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
}

@media (max-width:617px) {
    .home-img img{
        width: 70vw;
        margin-top: 10px;
    }
    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .wrapper{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
}
.mail
{
    color: #2f0f42;
    font-size: medium;
    padding-left: 20px;
}



@media (max-width: 1024px) {
    .fXcOFK {
        max-width: 90%;
        margin: 80px auto;
    }
    
    .ubcpl {
        max-height: 300px;
        max-width: 600px;
    }

    .XYPYR {
        font-size: 24px;
    }

    .bsUtMx {
        font-size: 12px;
        padding: 5px 8px;
    }

    .xgfQb {
        font-size: 14px;
    }
}

/* Mobile Devices (Max width: 768px) */
@media (max-width: 768px) {
    .fXcOFK {
        padding: 15px;
        max-width: 95%;
    }
    
    .ubcpl {
        max-width: fit-content;
        max-width: max-content;
    }

    .XYPYR {
        font-size: 22px;
    }

    .bsUtMx {
        font-size: 12px;
        padding: 4px 7px;
    }

    .xgfQb {
        font-size: 13px;
    }

    .hVezlV {
        flex-direction: column;
        align-items: center;
    }

    .ftbywb, .loCxib {
        width: 100%;
    }
}

/* Small Mobile Screens (Max width: 480px) */
@media (max-width: 480px) {
    .fXcOFK {
        margin: 50px auto;
        padding: 12px;
    }

    .ubcpl {
        max-height: 200px;
        max-width: fit-content;
    }

    .XYPYR {
        font-size: 20px;
    }

    .bsUtMx {
        font-size: 10px;
        padding: 3px 6px;
    }

    .xgfQb {
        font-size: 12px;
    }

    .ftbywb, .loCxib {
        padding: 10px;
    }
}
